@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@layer components{
    /* texts */
    .default-text{
      @apply text-dracula-900 dark:text-dracula-100;
    }
    /* image */
    .image-gradient-position{
      @apply w-full h-full absolute top-0 right-0 z-20;
    }
    /* object table list */
    .table-row-wrapper{
      @apply grid grid-cols-3 gap-0 items-center bg-white px-6 py-4 rounded-sm border-t-2 border-dracula-200 dark:border-dracula-900 dark:bg-dracula-700 dark:text-gray-100;
    }
    .table-button{
      @apply rounded-3xl bg-saphire-100 p-3 mx-2 hover:bg-saphire-200 dark:text-gray-100 dark:bg-gray-800 dark:hover:bg-gray-900;
    }
    /* modules */
    .module-wrapper{
      @apply absolute h-full w-full py-6 top-0 left-0 px-2 overflow-auto scrollbar-default scrollbar-rounded;
    }
    .module-window{
      @apply rounded-sm bg-dracula-100 flex flex-col p-6 dark:bg-dracula-900 w-1/2 mx-auto shadow-lg shadow-dracula-900 dark:shadow-dracula-600;
    }
    .module-content-wrapper{
      @apply p-4 mr-1 flex flex-col;
    }
    .module-header-row{
      @apply flex flex-row justify-between my-2;
    }
    .module-header{
      @apply text-2xl font-semibold mb-2 text-dracula-900 dark:text-dracula-100;
    }
    .module-input-text{
      @apply focus:border-dracula-400 focus:outline-none text-dracula-900 bg-dracula-100 border-dracula-300 resize-none rounded-sm my-2 px-3 py-2 w-full border-[2px] dark:border-dracula-600 dark:text-dracula-100 dark:bg-dracula-700 dark:placeholder:text-dracula-400;
    }
    .module-input-textarea{
      @apply scrollbar-rounded focus:border-dracula-400 focus:outline-none text-dracula-900 bg-dracula-100 border-dracula-300 resize-none rounded-sm my-2 px-3 py-2 w-full border-[2px] dark:border-dracula-600 dark:text-dracula-100 dark:bg-dracula-700 dark:placeholder:text-dracula-400;
    }
    .module-button{
      @apply bg-orange-500 w-[100%] rounded-sm py-2 my-2 text-dracula-100 font-semibold transition-all hover:bg-orange-600;
    }
    .module-round-button{
      @apply bg-orange-500 hover:bg-orange-600 rounded-3xl text-2xl text-dracula-100 p-1 ml-2;
    }
    .module-minus-button{
      @apply absolute top-2 right-2 z-30 bg-orange-400 hover:bg-orange-500 h-5 w-5 items-center flex justify-center rounded-3xl text-dracula-100;
    }
    /* info module */
    .info-grid{
      @apply grid grid-cols-3 gap-4 my-2;
    }
    .column-info-title{
      @apply my-1 font-light text-dracula-500 dark:text-dracula-400 text-sm;
    }
    .column-info-text{
      @apply my-1 font-[500] text-dracula-900 dark:text-dracula-100;
    }
    .info-button{
      @apply bg-orange-400 text-dracula-100 rounded-sm cursor-default px-3 py-1 mr-2 flex flex-row flex-wrap;
    }
    /* sidebar style */
    .sidebar-link{
      @apply flex flex-row my-2 transition-all p-2 rounded-3xl text-gray-700 hover:bg-saphire-500 hover:text-gray-200;
    }
    .sidemenu-link{
      @apply flex flex-row items-center py-2 text-sm hover:text-orange-500;
    }
    /* main view */
    .main-wrapper{
      @apply h-full grid grid-rows-[max-content_auto] px-6 py-6 bg-slate-200 dark:bg-dracula-900;
    }
    .main-header{
      @apply text-3xl mx-2 text-midnight-800 font-semibold dark:text-midnight-100;
    }
    .filter-panel{
      @apply flex flex-row my-4 justify-end;
    }
    .list-header{
      @apply grid grid-cols-3 items-center bg-midnight-50 px-6 py-4 rounded-sm my-4 dark:bg-midnight-900 dark:text-gray-100;
    }
    .list-header-p{
      @apply font-semibold px-2;
    }
    .main-list-wrapper{
      @apply w-full overflow-auto scrollbar-default;
    }
    
     /* scrollbar */
     .scrollbar-default{
      @apply scrollbar-thin pr-[0rem] scrollbar-track-dracula-300 scrollbar-thumb-dracula-400 dark:scrollbar-track-dracula-900 dark:scrollbar-thumb-dracula-800 ;
    }
    .scrollbar-rounded{
      @apply scrollbar-default scrollbar-thumb-rounded-md scrollbar-track-rounded-md;
    }
    /* extras */
    .divider{
      @apply border-t-[1px] my-2 border-dracula-200 dark:border-dracula-600;
    }
    .flex-x{
      @apply flex flex-row items-center;
    }
    .center-elements{
      @apply flex justify-center items-center;
    }
    /* select style */
      .my-react-select-container .my-react-select__control {
        @apply rounded-sm bg-dracula-100 dark:bg-dracula-700 border-2 border-dracula-100 dark:border-dracula-700 hover:border-dracula-300 dark:hover:border-dracula-500;
      }
      .my-react-select-module-container .my-react-select-module__control {
        @apply scrollbar-thin scrollbar-track-rounded-md scrollbar-thumb-rounded-md rounded-sm bg-dracula-100 dark:bg-dracula-700 border-2 border-dracula-300 dark:border-dracula-600 hover:border-dracula-400 dark:hover:border-dracula-500;
      }
      .my-react-select-container .my-react-select__control--is-focused {
        @apply border-dracula-400 hover:border-dracula-400 dark:border-dracula-500 shadow-none;
      }
      .my-react-select-module-container .my-react-select-module__control--is-focused {
        @apply border-dracula-400 dark:border-dracula-500 shadow-none;
      }
      .my-react-select-container .my-react-select__menu {
        @apply rounded-sm bg-dracula-100 dark:bg-dracula-700 border-2 border-dracula-400 dark:border-dracula-500;
      }
      .my-react-select-module-container .my-react-select-module__menu {
        @apply z-50 scrollbar-thin scrollbar-track-rounded-md scrollbar-thumb-rounded-md rounded-sm bg-dracula-100 dark:bg-dracula-700 border-2 border-dracula-400 dark:border-dracula-500;
      }
      .my-react-select-container .my-react-select__option {
        @apply  text-dracula-500 dark:text-dracula-200 bg-dracula-100 hover:bg-dracula-300 dark:bg-dracula-700 dark:hover:bg-dracula-800;
      }
      .my-react-select-module-container .my-react-select-module__option {
        @apply  text-dracula-500 dark:text-dracula-200 bg-dracula-100 hover:bg-dracula-300 dark:bg-dracula-700 dark:hover:bg-dracula-800;
      }
      .my-react-select-container .my-react-select__placeholder{
        @apply text-dracula-400;
      }
      .my-react-select-module-container .my-react-select-module__placeholder{
        @apply text-dracula-400 dark:text-dracula-500;
      }
      .my-react-select-container .my-react-select__input-container,
      .my-react-select-container .my-react-select__single-value {
        @apply  text-dracula-700 dark:text-dracula-200;
      }
      .my-react-select-module-container .my-react-select-module__input-container,
      .my-react-select-module-container .my-react-select-module__single-value {
        @apply  text-dracula-700 dark:text-dracula-200;
      }
     
}
*{
  font-family: 'Poppins', sans-serif;
}
.font-logo{
  font-family: 'Delius Swash Caps', sans-serif;
}
.hidden-scroll{
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.hidden-scroll::-webkit-scrollbar{
    width: 0;
    height: 0;
}
.image-top-gradient{
  background: rgb(0,0,0);
  background: -moz-linear-gradient(180deg, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100%);
  background: -webkit-linear-gradient(180deg, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100%);
  background: linear-gradient(180deg, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
}